<!DOCTYPE html>
<html>
<head>
    <title>Listado de Proveedores</title>
</head>
<body>
    <h1>Listado de Proveedores</h1>
    <ul>
        {% for proveedor in proveedores %}
            <li>
                <strong>Código:</strong> {{ proveedor.codigo }}<br>
                <strong>Nombre:</strong> {{ proveedor.nombre }}<br>
                <strong>Dirección:</strong> {{ proveedor.direccion }}<br>
                <strong>Teléfono:</strong> {{ proveedor.telefono }}<br>
                <strong>Página Web:</strong> {{ proveedor.pagina_web }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
